In [21]:
# Importaciones
import pandas as pd
import sys
sys.path.append("../")
from src import support_faker as fk
import os
import dotenv # type: ignore
dotenv.load_dotenv()
from datetime import datetime


import warnings
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns", None)
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [22]:
df_alumnos = fk.load_data_init_alumnos()

In [23]:
df_alumnos.shape

(9942, 9)

In [24]:
df_alumnos.head(3)

,nombre,apellidos,email,estudios,especialidad,ciudad,edad,telefono,sexo
0,José Manuel,Barba,lbartolome@example.net,Grado,Informatica,Cáceres,42,+34 701 827 349,Hombre
1,Eufemia,Galvez,trinidad39@example.com,Grado Superior,Ingenieria,Toledo,39,+34 944 75 61 47,Mujer
2,Celia,Báez,mendizabalarmando@example.org,Grado Superior,Ingenieria,Zaragoza,25,+34 823987698,Mujer

In [25]:
df_leads = fk.load_data_init_leads()
df_leads.shape

(1000, 7)

In [26]:
df_leads.head(3)

,nombre,apellidos,email,estudios,especialidad,telefono,sexo
0,Violeta,Téllez,fulgenciomontenegro@example.org,Bachillerato,Letras,+34 928 194 179,Hombre
1,Atilio,Lerma,abrahamclavero@example.net,Eso,Informatica,+34928590547,Mujer
2,Maximiano,Meléndez,mcano@example.org,Grado Medio,Informatica,+34 885 736 340,Mujer

In [27]:
df_leads, df_alumnos = fk.remove_duplicates(df_leads, df_alumnos)

In [28]:
df_leads.shape

(989, 7)

In [29]:
df_alumnos.shape

(9931, 9)

In [30]:
fecha_hoy = datetime.today().strftime('%Y-%m-%d')
df_leads.to_csv(f"../data/leads_{fecha_hoy}.csv", index=True, header=True)
df_alumnos.to_csv(f"../data/alumnos_{fecha_hoy}.csv", index=True, header=True)